<div class="container-fluid">
  <app-logout></app-logout>
  <div>
    <app-dialog
      (emitText) = addColumn($event)
      question="Add new column"
    >
      <button
        mat-raised-button
        color="primary"
      >
        New column
      </button>
    </app-dialog>
  </div>
  <hr>
  <div cdkDropListGroup class="row">
    <div
      class="col-sm-6 col-lg-3 mb-3"
      *ngFor="let col of boardService.getBoard$() | async"
    >
      <div
        class="d-flex justify-content-between align-items-center p-2 shadow-sm column-header"
      >
        <h2 class="m-0">{{col.title}}</h2>
        <button
          mat-icon-button
          class="icon-delete"
          (click)="onDeleteColumn(col.id)"
        >
          <mat-icon style="font-size: 20px;">delete</mat-icon>
        </button>
      </div>

      <app-dialog
        (emitText)="onAddCard($event, col.id)"
        [question]="'Add new card in ' + col.title + 'column'"
      >
        <button
          mat-raised-button
          class="w-100 ,b-1 btn-add">+</button>
      </app-dialog>

      <app-color-panel
        (emitColor)="onColorChange($event, col.id)"
      ></app-color-panel>
      <div
        cdkDropList
        [cdkDropListData]="col.list"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
          <div
            cdkDrag
            class="example-box"
            [ngStyle]="{background: col.color}"

            *ngFor="let item of col.list"
          >
            <app-board-item
              [item]="item"
              (emitText)="onAddComment($event, col.id)"
              (emitCardItem)="onChangeLike($event, col.id)"
              (emitDeleteCard)="onDeleteCard($event, col.id)"
            >
              <div *ngFor="let comment of item.comments">
                <app-comment-item
                  [comment]="comment"
                  (emitComment)="onDeleteComment($event, col.id, item)"
                ></app-comment-item>
              </div>
            </app-board-item>
          </div>
      </div>
    </div>
  </div>
</div>
<!--<p>board works!</p>-->
<!--<app-logout></app-logout>-->
<!--<hr>-->
<!--<div cdkDropListGroup class="d-flex">-->
<!--  &lt;!&ndash; All lists in here will be connected. &ndash;&gt;-->
<!--  <div cdkDropList-->
<!--       *ngFor="let list of data"-->
<!--       [cdkDropListData]="list"-->
<!--       class="example-list"-->
<!--       (cdkDropListDropped)="drop($event)">-->

<!--  >-->
<!--    <div class="example-container">-->
<!--      <h2>Done</h2>-->

<!--      <div-->
<!--        cdkDrag-->
<!--        [cdkDragData]="item"-->
<!--        class="example-box"-->
<!--        *ngFor="let item of list">-->
<!--        {{item}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
